img.avatar, div.avatar{
    height: 2em;
    width: 2em;

    margin-top: -0.5em;
    margin-bottom: -0.5em;

    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

div.avatar .glyphicon{
    font-size: 30px;
}
.account-dropdown{
    min-width: auto;
}
ul.react-datepicker__time-list{
    padding-left: 0;
}
.validation-error{
    color: red;
}
.has-error{
    outline: 1px solid red;
}